.footer_link-container {
	background-color: gray;
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 15px;
	margin-top: 30px;
}

.footer_links {
	color: white;
	text-decoration: unset;
	display: flex;
	text-align: center;
	align-items: center;
}

.footer_links:hover {
	text-decoration: underline;
}

.footer_github-icon {
	height: 30px;
	width: 30px;
	padding-right: 6px;
}

.footer_linkedin-icon {
	height: 27px;
	width: 30px;
	padding-right: 3px;
}
