.comment_profile-photo {
	height: 40px;
	width: 40px;
	object-fit: cover;
	border-radius: 50%;
	margin-right: 12px;
}

.comment_content {
	white-space: pre-wrap;
}

.comment_container {
	width: 600px;
	max-width: 80%;
	padding: 10px 20px;
	border-top: 1px solid rgb(184, 182, 182);
}

.comment_container:hover {
	background-color: rgb(168, 168, 238);
}

.comment_user-info {
	display: flex;
	align-items: center;
}

.comment_username {
	color: rgb(1, 87, 1);
	margin-right: 12px;
}

.comment_updatedAt {
	color: lightgray;
}

.comment_user-info-buttons-container {
	display: flex;
	align-items: center;
	margin-bottom: 13px;
	justify-content: space-between;
}

.comment_edit-icon {
	margin: 0px 7px;
	cursor: pointer;
}

.comment_delete-icon {
	margin-left: 7px;
	cursor: pointer;
}

.comment_update-button {
	align-self: flex-start;
	background-color: orange;
	border-style: unset;
	border-radius: 3px;
	cursor: pointer;
	padding: 7px 10px;
	margin-top: 7px;
	margin-right: 13px;
}

.comment_update-content {
	width: 600px;
	max-width: 100%;
	height: 55px;
	padding: 4px;
	border-style: solid;
	border-width: 1px;
	border-color: lightgrey;
	margin-top: 4px;
}

.comment_update-cancel-button {
	padding: 7px 10px;
	background-color: yellow;
	border-style: unset;
	border-radius: 5px;
	cursor: pointer;
}

.add-width {
	padding-right: 0px;
	width: 99%;
}

.add-width2 {
	padding-right: 0px;
	width: 98%;
}
