.login_form {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 70%;
}

.login_submit-btn {
	width: 100%;
	padding: 5px;
	margin: 10px;
	background-color: rgb(235, 201, 49);
	border-radius: 5px;
	border-style: unset;
	border: 1px solid lightgray;
	cursor: pointer;
}

.login_email-input {
	width: 100%;
	padding: 5px;
	margin: 10px;
	box-sizing: border-box;
}

.login_password-input {
	width: 100%;
	padding: 5px;
	margin: 10px;
	box-sizing: border-box;
}

.login_switch-modals {
	color: blue;
	cursor: pointer;
}

.login_switch-modals:hover {
	text-decoration: underline;
}

.login_extra-text {
	margin-top: 5px;
}

.login_form-header {
	margin-bottom: 10px;
	text-align: center;
}

/* .delete-confirm_button-container {
	display: flex;
	justify-items: flex-start;
} */
