.project_container {
	display: flex;
	justify-content: center;
}

.project_content-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 87.5%;
}

.project_project-support-images {
	display: flex;
}
